* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.conteiner {
  border: 1px solid;
  height: inherit;
  width: 80%;
  margin: 0;
  padding: 100px;
  gap: 20px;
}

.section {
  border: 1px solid blue;
  height: inherit;
}
.section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.SERVICIOS {
  text-align: center;
}

.titulo {
  padding: 20px;
  margin: 10px;
  gap: 20px;
}

.GRUPOTITAN {
  position: static;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

nav {
  background-color: #252525;
}

.navega {
  padding-left: 0;
}

.navega li {
  list-style: none;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}

.navega li a {
  border: 1px solid;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.opcion {
  padding: 5px;
  margin: 5px;
}

.anunciado {
  color: blue;
}

.card {
  border: 1px solid black;
  width: 400px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(185, 170, 170);
}

.card:hover {
  transform: translate(0, -20px);
  box-shadow: 10px 10px 0px #242424;
}

.btn {
  background-color: transparent;
  border: none;
  width: 80px;
}
.btn-primary, .btn-secondary {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.btn-primary {
  background-color: rgba(22, 151, 65, 0.8156862745);
  color: rgba(20, 15, 20, 0.849);
}
.btn-primary:hover {
  background-color: white;
  color: red;
}
.btn-secondary {
  background-color: rgba(0, 255, 200, 0.521);
  color: rgba(97, 16, 204, 0.911);
}
.btn-secondary:hover {
  background-color: white;
  color: red;
}

.GRUPOTITAN {
  background-color: rgba(22, 151, 65, 0.8156862745);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.GRUPOTITAN {
  background: #242424;
  width: 100%;
  clear: both;
  content: "";
  display: table;
}

.titulo {
  width: 50px;
  height: 50px;
  float: left;
  padding: 10px;
}

div {
  width: 900px;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul li {
  list-style: none;
  margin-left: 15px;
  padding: 45px 0;
  float: left;
}

nav ul li a {
  text-decoration: none;
  color: rgba(201, 233, 19, 0.6156862745);
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */