.conteiner {
    border: 1px solid;
    height: inherit;
    width: 80%;
    margin: 0;
    padding: 100px;
    gap: 20px;
}

.section {
    border: 1px solid blue;
    height: inherit;
    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }
}
.SERVICIOS{
    text-align: center;
}
.titulo{
    padding: 20px;
    margin: 10px;
    gap: 20px;
}
.GRUPOTITAN{
    position: static;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

nav{
    background-color: #252525;
}

.navega {
    padding-left: 0;
}
.navega li{
    list-style: none;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}
.navega li a{
    border: 1px solid;
    text-decoration: none;
    padding: 10px;
    color: white;
}

.opcion{
    padding: 5px;
    margin: 5px;
}

.anunciado{
    color: blue;
}