$text-color: white;
$bg-primary: #169741d0;
$bg-primary-hover: white;
$bg-primary-color-hover: red;
$btn-primary-color: rgba(20, 15, 20, 0.849);
$bg-secondary: rgba(0, 255, 200, 0.521);
$btn-secondary-color: rgba(97, 16, 204, 0.911);
$bg-card: rgb(185, 170, 170);
